.flipCard {
  position: relative;
  perspective: 700px;
  width: 100%;
  max-width: 348px;
  height: 400px;
  margin: 20px;
  text-align: left;
}

.subtitle {
  font-size: 14px;
  color: gray;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  border-radius: 10px;
  background: #fff;
  position: absolute;
  overflow: hidden;
  color: #333;
  display: flex;
}

.back {
  background: #fff;
  position: absolute;
  overflow: hidden;
  color: #333;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
}

.flipped .card {
  transform: rotateY(180deg);
}

.cardContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imageContainer {
  position: relative;
  top: 0;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.backImageContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 10px 10px 0 0;
}

.cardImage {
  border-radius: inherit;
}

.cardBody {
 display: flex;
 flex-direction: column;
 text-align: left;
 margin: auto;
}



.btn {
  background-color: skyblue;
  padding: 12px;
  text-decoration: none;
  width: 60%;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  margin:5px 20px;
}

.links_container {
  display: flex;
  gap: 12px;
  padding: 2px 20px;
}